/backend-api/*.log
/backend-api/.DS_Store
/backend-api/.env
/backend-api/.phpunit.result.cache
/backend-api/.fleet
/backend-api/.idea
/backend-api/.phpunit.cache
/backend-api/.vscode
/backend-api/node_modules
/backend-api/public/build
/backend-api/public/hot
/backend-api/public/storage
/backend-api/storage/*.key
/backend-api/vendor
/backend-api/Thumbs.db

/frontend/logs
/frontend/*.log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/lerna-debug.log*
/frontend/node_modules
/frontend/dist
/frontend/dist-ssr
/frontend/*.local
/frontend/.vscode/*
!/frontend/.vscode/extensions.json
/frontend/.idea
/frontend/.DS_Store
/frontend/*.suo
/frontend/*.ntvs*
/frontend/*.njsproj
/frontend/*.sln
/frontend/*.sw?
