@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Custom brand colors */
  --primary-green: #009444;
  --primary-green-light: #D8EEE1;
  --border-color: #EAECF0;
  --text-secondary: #667085;
}

.custom-border-color {
  border-color: var(--border-color);
}

.bg-primary-green {
  background-color: var(--primary-green);
}

.bg-primary-green-light {
  background-color: var(--primary-green-light);
}

.text-primary-green {
  color: var(--primary-green);
}

.border-primary-green {
  border-color: var(--primary-green);
}

.hover\:bg-primary-green-light:hover {
  background-color: var(--primary-green-light);
}

.hover\:text-primary-green:hover {
  color: var(--primary-green);
}

.text-secondary {
  color: var(--text-secondary);
}
